<h1 class="center"> Hey I'm a Product Page </h1>
<hr />

<div class="container">

<div class="row">
    <form class="col s12">
      <fieldset>
      <legend>Add A New Product</legend>
      <div class="row">
        <div class="input-field col s4">
          <input placeholder="Item Name" id="name" type="text" class="validate">
        </div>
        <div class="input-field col s2">
          <input placeholder="Price" id="base_price" type="text" class="validate">
        </div>
        <div class="input-field col s5">
          <input placeholder="Description" id="description" type="text" class="validate">
        </div>
        <div class="col s1 center">
    <a class="btn-floating btn-large waves-effect waves-light red"><i id="newitem" type="submit" class="material-icons">add</i></a>
        </div>
      </div>
      </fieldset>
    </form>
</div>

<div class="row">
  <div class="col s12">
    <ul class="collection with-header col s6" id="product-list">


    </ul>
    <ul class="collection with-header col s6" id="right-product-list">

    </ul>
  </div>
</div>
</div>
  
  
  
  
  <!--<button class="btn" id="toggle">Show item form</button> -->